html {
  height: 100%;
}
body {
  height: 100%;
  background:rgb(2, 25, 88);
  animation: 100s infinite alternate animate-background;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.App {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}

footer {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.2em;
  z-index: 1;
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.562);
}


@keyframes animate-background {
  0% {background: rgb(28, 73, 168);}
  10% {background: rgb(51, 95, 190);}
  20% {background: rgb(21, 79, 204);}
  30% {background: rgb(8, 55, 156);}
  40% {background: rgb(70, 44, 219);}
  50% {background: rgb(105, 82, 233);}
  60% {background: rgb(153, 82, 233);}
  70% {background: rgb(121, 20, 236);}
  80% {background: rgb(85, 20, 236);}
  90% {background: rgb(20, 78, 236);}
  100% {background: rgb(4, 48, 167);}
}